.answer-option {
	background-color: yellow;
	font-size: 30px;
	margin: 10px 0px 10px 0px;
}
.answer-option:hover {
	background-color: green;
}

.trivia-question {
	font-size: 40px;
	font-weight: bold;
}